body {
    font-family: Arial, sans-serif;

    overflow: hidden;
}
h2{
	text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
	
}

form {
    background-color: #aaa;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0px  20px 20px 20px;
    margin: 20px auto;
	width: 800px;
	height: 540px;
 
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid #3d8d40 ; /* Green border */
    color: rgb(255, 255, 255); /* White text */
    padding: 10px 29.27px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin-bottom: 5px;
  }

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }    


  .tab-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 0px;
    overflow: hidden;
  
    }

    .tab {
      padding: 5px;
      width: 900px;
      background-color: #aaa;
      cursor: pointer;
      border-radius: 10px 10px 0 0;
      border: 1px solid black;
    }

    .tab.active {
      background-color:  #757575;
      
      }
      
    .tab-content {
      display: none;
      /* padding: 30px; */
      border-top: none;
      border-radius: 0px 10px 10px 10px;
      
      }
      
      .tab-content.active {
       display: block;
       
      }



  fieldset{
  background-color: #c9c6c6;
	max-width: max-content;
	border-radius: 6px;
	
  }

  
 .tablagasoil, #tablalistado {

	display:inline-block;
	border-collapse: collapse;
	text-align: center;
	/* max-width: 480px; */
	width: 425px;
	 height: 274px; 
	overflow: auto;
	background-color: #e0e0e0;
  border: 1px solid black;
	white-space: nowrap;
  }
  .tablabomba {
	
	display:inline-block;
	border-collapse: collapse;
	text-align: center;
	/* max-width: 480px; */
	width: 425px;
	 height: 257px; 
	overflow: auto;
	background-color: #e0e0e0;
  border: 1px solid black;
	white-space: nowrap;
  }

   /* Scrollbar */
   ::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    border: 3px solid #fff;

  }
  ::-webkit-scrollbar-thumb {
   
    height: auto;

    background: #747474;
   
  }
  .tabla, .tabla2, .tabla3{
	
	float: right;
	
	margin-right: 15px;

	border: 1px solid black;
	border-radius: 6px;
	padding: 10px; 
	
} 
.tabla3{
	margin-top: 25px;
}


  
 .tablagasoil td, .tablabomba td,  #tablalistado td {
	font-size: 12px;
	width: 100px;
	text-align: left;
	padding: 4px;
	border: 1px solid #000000;
  }
  
 .tablagasoil th, .tablabomba th, #tablalistado th {
	background-color: #aaa;
	color: black;
	
	border: 1px solid black;
	font-size: 15px;
	padding: 4px;
	cursor: default;
  }
  
  td{
	padding-bottom: 10px;
}

 
  
  .tablagasoil tr:hover, .tablabomba tr:hover, #tablalistado tr:hover{
	background-color: #c5c5c5;
	cursor: pointer;
  }


  

  
  button[id="enviar"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;

	
  }
  
  button:active {
    background-color: #3e8e41;
}
button:hover{
  
  transition: 0.2s;
    transform: scale(1.08, 1.08);
    box-shadow: #000000 1px 1px 5px;
    
  }

  


.registro{
	margin-left: 20px;
	margin-top: 50px;
	width: max-content;
	height: max-content;
	
}

.field {
  margin-bottom: 15px;
}
.registro2{
	margin-left: 20px;

	width: max-content;
	height: max-content;
	
}




input[type="text"], input[type="number"], input[type="date"], select{
	
	height: 20px;
 


	max-width: 100px;
 
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;

  box-sizing: border-box;


}
select{
	max-width: 100px;

}

h3{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -webkit-app-region: no-drag;
}

input[type="file"][id="dineroimg"] { 
    opacity: 0; /* make transparent */
    z-index: -1; /* move under anything else */
    position: absolute; /* don't let it take up space */
    border: 1px solid;

}
label[for="dineroimg"]{
    
    cursor: pointer;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 10px;
}
label[for="dineroimg"]:hover
{transition: 0.2s;
  transform: scale(1.08, 1.08);
 
   box-shadow: #000000 1px 1px 5px;
   background-color: #3e8e41;
}



#emergentehd {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.emergentehd-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #aaa;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  border: #000000 solid 1px;
  font-style: red;
}

.emergente{
  width: 300px;
}


  #imagen {
    width: 300px;
    height: 200px;
   
  }
  #display-block {
    display: none;
    /* Estilos personalizados para el display block */
  }

  #emergente2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: max-content;
    height: max-content;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.);
  }
  #emergente2-contenido {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
  }
  #modal-contenido img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }

   /* menubar */

   #menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #aaa;
    -webkit-app-region: drag;
  }
  
  #menu-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menubar-btn {
    -webkit-app-region: no-drag;
  }
  

  
 
  
  button[class="menubar-btn"] {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
  }
  
  button:hover[class="menubar-btn"]{
    background: rgba(221, 221, 221, 0.2);
  }
  
  #cerrar:hover {
    background: rgb(255, 0, 0);
  }
  
  button i {
    color: white;
  }
  /* fin menubar */
     
  #ventana-emergente {

    display: none;
  background-color:  #aaa;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 405px;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  border: 1px solid black;
  padding: 0px 20px 20px 20px;
  font-size: 17px;
  }

  .ordenado {
    display: flex;
   
  }
  .derecha{
    margin-left: 100px;

  }

  .emergente_btn{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    }

  .ordenado input {
      width: 100px;

    }

    #Modificar{
      display: inline-block;
      background-color: #2f6ffa;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin-right: 10px;
    }
    #Modificar:active{
      background-color: #145dfa;
    }