body{
    font-family: Arial, sans-serif;
 font-size: 15px; 
}
h2, h4{
    text-align: center;
    margin-top: 0px;
}
.Tablas label , .Tablas label {
    display: inline-block;
 margin: 5px 5px 5px;
 font-weight: bold;
}
.bold{
  font-weight: bold;
}
.estadoViaje{
  color: red;
  font-weight: bold;
}
 


#ventana-emergente {
/* display: none; */
background-color:  #aaa;
position: absolute;
top: 50%;
left: 50%;
width: 600px;
 height: 535px; 
transform: translate(-50%, -50%);
border-radius: 6px;
border: 1px solid black;
padding: 0px 20px 20px 20px;
}
.Tablas{
display: flex;
justify-content: space-between;
}



p{
    margin-top: 0px;
    margin-left: 10px;
    
}
fieldset{
    border-radius: 6px;
    background-color: #bebebe;
}

.fieldAbajo1{
 max-width: 441px;
}

.fieldEmergente1{
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Botones*/
button {
    display: inline-block;
    background-color: #f83939;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 36px;
}

button[class="normalButton"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 5px;
}

button[class="normalButton"]:active {

  background-color: #3e8e41;

}




#Salir{
   
    background-color: #838383;
    color: #fff;
    padding: 10px 29px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;

}



.emergente_btn{
    float: right;

}

button:active {
    background-color: #ce2f2f;
  }
  button:hover{
  
  transition: 0.2s;
    transform: scale(1.08, 1.08);
    box-shadow: #000000 1px 1px 5px;
  }

#Salir:active{
    background-color: #636363;
}
/*Fin de botones emergentes*/
button[class="menubar-btn2"] {
    display: flex;
    height: 100%;
    border: none;
  justify-content: flex-end;
  padding: 7.5px 15px;
    margin-bottom: 5px;
    margin-top: 0px;
    background: transparent;
    outline: none;
    margin-left: auto;
  
  }
.Observacion{
    display: block;
    max-height: 50px;
   width: 250px;
   word-wrap:break-word;
   overflow: auto;
}

textarea{
    margin-top: 10px;
    border: 1px solid black;
    width: 400px;
    height: 22px;
    border-radius: 3px;
    resize: none;

}
.textarea{
  margin-top: 10px;
  display: flex;
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    border: 3px solid #fff;
    
  }
  ::-webkit-scrollbar-thumb {
   
    height: auto;
   
    background: #747474;
    
   
  }
  .Fecha{
    color: black;
    font-weight: bold;
  }

  #inputBultos{
    height: 20px;
  border-radius: 3px;
  border: 1px solid #000000;

  box-sizing: border-box;
  max-width: 50px;

  }
  .divBultos{
    float: right;
  }

  /*Selects*/

  select{
    width: 100px;
    margin-left: 20px;
    /* padding: 10px; */
    border-radius: 3px;
    border: 1px solid #000000;
    box-sizing: border-box;
    /* max-width: max-content; */

}
  /*Fin de selects*/
.listadoEstadosviaje{
  height: 200px;
  margin: 20px 0px;

}
.divEstadosfecha{
  display: flex;
}
.divEstadosfecha fieldset{
  font-size: 13px;
 width: 315px;
 height: 100px;
}

/*Tabla estados de viajes para la segunda pestaña emergente*/
#listadoEstadosviajes{
  display:inline-block;
        border-collapse: collapse;
        text-align: center;
        width: 570px;
        height: 180px;
        white-space: nowrap;
        border: 0.1px solid black;
    border-radius: 6px;
        overflow: auto;
        background-color: #e0e0e0;
}

      
#listadoEstadosviajes td {
	font-size: 12px;
	/* width: 100px; */
	
	padding: 4px;
	border: 1px solid #000000;
  }
  
  #listadoEstadosviajes th {
	background-color: #aaa;
	color: black;
	border: 1px solid black;
	font-size: 15px;
	padding: 4px;

	
  }
  #listadoEstadosviajes tr:hover {
	background-color: #c5c5c5;
  }


  /* Fin Tabla estados de viajes para la segunda pestaña emergente*/
