body{
    width: 700px;
    padding: 10px 20px;
}

.centrado{
    
display: flex;

}
img{
    margin-right: 10px;
}
.numeroFecha{
    display: flex;
    justify-content: space-between;
}
h1{
    font-family: 'Monotype corsiva';
  font-size: 40px;
  margin-bottom: 20px;
}
h3[class="titulo"]{
    font-family: 'arial';
    color: blue;
    margin-top: 10px;
    text-decoration: none;
}
h1,h3[class="titulo"]{
    text-align: center;
}

h3{
    
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
