body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    overflow: hidden;
}

h1 {
    text-align: center;
}

form {
    background-color: #aaa;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
    margin: 20px auto;
    width: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:active {
    background-color: #3e8e41;
  }
  button:hover{
  
  transition: 0.2s;
    transform: scale(1.08, 1.08);
    box-shadow: #000000 1px 1px 5px;
  }
  

a {
    display: block;
    text-align: center;
    color: #888;
    margin-top: 20px;
    text-decoration: none;
}

    a:hover {
        color: #555;
    }
/* menubar */
  
#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #aaa;
    -webkit-app-region: drag;
  }
  
  #menu-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menubar-btn {
    -webkit-app-region: no-drag;
  }
  
 
  
  button[class="menubar-btn"] {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
  }
  
  button:hover[class="menubar-btn"]{
    background: rgba(221, 221, 221, 0.2);
  }
  
  #cerrar:hover {
    background: rgb(255, 0, 0);
  }
  
  button i {
    color: white;
  }
  /* fin menubar */

  #botones{
display: flex;
justify-content: end;}