
body{
  overflow: hidden;
  font-family: Arial, sans-serif;
}


form {
    
    background-color: #aaa;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
    margin: 20px auto;
    width: 800px;
  

}

h1{
  margin-top: 0px;
}
 h2{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
 }

.Titulo{

    text-align: center;
   
}

table{  
    display: inline-block;
    height: 284px;
    width: 300px;
    border-collapse: collapse;
    overflow: auto;
    background-color: #e0e0e0;
	
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    border: 3px solid #fff;
  }
  ::-webkit-scrollbar-thumb {
   
    height: auto;
  
    background: #747474;
   
  }


#tabla{
    float: right;
    margin-right: 15px;
    /* margin-bottom: 15px; */
   padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
   
}



th{
  font-size: 15px;
  border: 1px solid black;
  background-color: #aaa;
  padding: 4px;
 
}
#fila1, #fila2, #fila3{
  width: 100px;
}
#fila4{
  width: 100px;
}
#fila5{
  width: 200px;
}

th, td, tr {
	text-align: center;
	padding: 3px;
	border: 1px solid #000000;
  }

  
  #tabla-sedes, #tabla-tipos{
    border: 1px solid black;
    white-space: nowrap;
  }

  #tabla-sedes td, #tabla-tipos td{
    font-size: 12px;
  }
   #tabla-sedes tr:hover, #tabla-tipos tr:hover {
    background-color: #c5c5c5;
    cursor: pointer;
  }
  th:hover{
    cursor: default;
  }

  #anular, #eliminar{
    background-color: #f83939;
   
    padding: 10px 20px;
  }
  #anular:active, #eliminar:active{
    background-color: #ce2f2f;
    }
  

button[type="Button"]:not(.modificar, .menubar-btn, .paginas), [type="Reset"], [type ="Submit"] {

    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;

}
button:active {
  background-color: #3e8e41;
}
button:hover{

transition: 0.2s;
  transform: scale(1.08, 1.08);
  box-shadow: #000000 1px 1px 5px;
}


input[type="text"], select {

       
    border-radius: 5px;
    border: 1px solid #000000;
   margin-top: 15px;
    
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


select{
  margin-left: 43px;
  width: 100px;
}
input[type="number"]{
    border-radius: 5px;
    border: 1px solid #000000;
   margin-bottom: 10px;
    box-sizing: border-box;
    
}


fieldset{
    border-radius: 6px;
    padding: 18px;
    background-color: #aaa;
   
}
.ajustar2{

    width: max-content;
    margin-top: 60px; 

}
.ajustar1{

    width: max-content;
    margin-top: 40px; 

}
.imprimir{
    margin-top: 10px;
} 

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid #3d8d40 ; /* Green border */
    color: rgb(255, 255, 255); /* White text */
    padding: 10px 17px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: 0px 0px  5px;
    border-radius: 0px;
    
  }

  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }    
  /* select{
	
    height: 20px;
      border-radius: 3px;
      border: 1px solid #000000;
     margin-top: 10px;
      box-sizing: border-box;
    max-width: 100px;
  } 
     */
  
     

  
  #ventana-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    border: #000000 solid 1px;
    padding: 10px;
  }



  #ventana-emergente h2 {
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
  }
  
  #contenido-ventana-emergente {
    margin: 10px;
  }

  .codigo {
    border-right: 1px solid #ccc;
    padding-right: 10px;
  }
  

  #cerrar-ventana-emergente{
    color: blue;
    position: relative;
    top: 100px;
  }

  #ventana-emergente label{
    /* display: inline */
    display: flow-root;
    background-color: blue;
   
  }

/* menubar */

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #aaa;
  -webkit-app-region: drag;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar-btn {
  -webkit-app-region: no-drag;
}



button[class="menubar-btn"] {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}

button:hover[class="menubar-btn"]{
  background: rgba(221, 221, 221, 0.2);
}

#cerrar:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}
/* fin menubar */
    
/*Pestañas*/
.tab-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 0px;
  overflow: hidden;
  
  }

  .tab {
    padding: 5px;
 width: 300px;
 margin-bottom: 5px;
    background-color: #aaa;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    
  }

.tab.active {
  background-color:  #757575;
  
  }
  
.tab-content {
  display: none;
  /* padding: 30px; */
  border-top: none;
  border-radius: 0px 10px 10px 10px;
  
  }
  
  .tab-content.active {
   display: block;
  
  } 


  .modificar {
    background-color: #2f6ffa; 
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
 
}


.modificar:active {
  background-color: #145dfa;
  


}